variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

stages:
  - build
  - test
  - security
  - sonarqube-check
  - deploy

build:
  stage: build
  script:
    - ./gradlew assemble
  artifacts:
    paths:
      - build/libs/*.jar

test:
  stage: test
  dependencies:
    - build
  script:
    - ./gradlew test

sonarqube-check:
  stage: sonarqube-check
  script:
    - ./gradlew test jacocoTestReport sonar

zap-security-scan:
  stage: security
  dependencies:
    - build
  script:
    - docker compose down || true
    - docker compose up -d --build

    - echo "Waiting for Spring Boot to start..."
    - sleep 25

    - export TARGET_URL="http://host.docker.internal:8005"

    - mkdir -p zap-reports

    - docker run --rm --network=host -v "$(pwd)/zap-reports:/zap/wrk" zaproxy/zap-weekly zap-baseline.py -t "$TARGET_URL" -r zap-report.html -J zap-report.json || true

  artifacts:
    paths:
      - zap-reports/zap-report.html
      - zap-reports/zap-report.json
    expire_in: 1 week


docker-deploy:
  stage: deploy
  script:
    # Stop and remove any existing containers
    - docker compose down || true

    # Ensure the Docker network exists (optional, if already defined in compose)
    - docker network inspect tweetle-network || docker network create tweetle-network

    # Build and start all services in detached mode
    - docker compose up -d --build

    # Optionally check container status
    - docker ps
  only:
    - main
  dependencies:
    - build