server:
  port: 8005

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka
    register-with-eureka: true
    fetch-registry: true

spring:
  application:
    name: tweetle-timeline-service

  data:
    mongodb:
      uri: mongodb://admin:password@timeline-mongo:27018/timelinedb?authSource=admin
      database: timelinedb
      username: admin
      password: password
      auto-index-creation: true

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: admin
    password: admin

rabbitmq:
  exchange:
    name: tweetle.exchange